@model ForgotPasswordViewModel

    <div class="text-center">
        <h3 class="display-4"><b>Alchemative</b></h3>
        <br>
    </div>

    <form method="post">
        <div class="box">
            <h3>Forgot Password</h3><br>
            <div asp-validation-summary="All" class="text-danger"></div>
            
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            <br />
            <button type="submit" class="mbtn" style="width: 200px;">Send Me Instructions</button>
            <p>Don't Have An Account <a asp-controller="account" asp-action="register" class="da">Sign Up</a> Now</p>
        </div>
    </form>
