

@{
    ViewBag.Title = "Employee List";
}

    <div class="text-center">
        <br /><br />
        <h3 class="display-4">Welcome To</h3>
        
        <h3 class="display-4"><b>Alchemative</b></h3>
        
    </div>

@*<div class="card-deck">
        @foreach (var employee in model)
        {
            <div class="card m-3">
                <div class="card-header">
                    <h3>@employee.name</h3>
                </div>
                <img class="card-img-top" src="~/images/a.jpg" asp-append-version="true" />
                <div class="card-footer text-center">
                    <a asp-controller="home" asp-action="details"
                       asp-route-id="@employee.id" class="btn btn-primary m-1">view</a>
                    <a asp-controller="home" asp-action="edit" asp-route-id="@employee.id"
                       class="btn btn-primary m-1">edit</a>
                    <a href="#" class="btn btn-danger m-1">delete</a>
                </div>
            </div>
        }
    </div>*@